body{
  background: url('https://i.ytimg.com/vi/3mjX8JvbK7g/maxresdefault.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#seccion4 ul li {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	#seccion4 ul {
		list-style: none;
	}

	#seccion4 ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

#seccion1{
	padding: 40px;
}

#seccion2{
	padding: 50px;
	margin: 100px;
}

#seccion2 h4{
	color: white;
}

#seccion_3{
	padding: 40px;
	margin: 100px;
}

#seccion_3 h4{
	color: white;
}

#seccion4{
	padding: 40px;
}

#seccion5 textarea{
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #04B4AE;
  border-radius: 0;
}

#seccion5 button{
  border-radius: 10px;
  background: #04B4AE;
  color: Black;
}

.carousel-inner img{
  height: 540px!important;
  width: 100%!important;
}

#seccion5{
	padding: 50px;
}

#seccion5{
	color: white;
}

#seccion6{
	padding: 50px;
}

.social-links__container{
	position: fixed;
	top: 50%;
	right: 30px;
}

#seccion6,
#seccion7{
  color: white;
}

#seccion6 h2{
	color: #00FFFF;
}

#seccion7 h2{
	color: #00FFFF;
}

#seccion7{
	padding: 50px;
}

#imagen2,
#imagen3{
	border-radius: 30%;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
