body{
  background: url('https://i.ytimg.com/vi/3mjX8JvbK7g/maxresdefault.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
